<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>ball-walk-east</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>ball-stay.png</string>
				<string>ball-walk-0002.png</string>
				<string>ball-walk-0003.png</string>
			</array>
		</dict>
		<key>ball-walk-west</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>ball-walk-0003.png</string>
				<string>ball-walk-0002.png</string>
				<string>ball-stay.png</string>
			</array>
		</dict>
		<key>blob-walk</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>blob-walk-0001.png</string>
				<string>blob-walk-0002.png</string>
				<string>blob-walk-0003.png</string>
				<string>blob-walk-0004.png</string>
			</array>
		</dict>
		<key>paramecium-walk</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>paramecium-stay.png</string>
				<string>paramecium-walk-0002.png</string>
				<string>paramecium-walk-0003.png</string>
			</array>
		</dict>
		<key>bug-walk-west</key>
		<dict>
			<key>delay</key>
			<real>0.06</real>
			<key>frames</key>
			<array>
				<string>bug-walk-west-0001.png</string>
				<string>bug-walk-west-0002.png</string>
				<string>bug-walk-west-0003.png</string>
				<string>bug-walk-west-0004.png</string>
				<string>bug-walk-west-0005.png</string>
				<string>bug-walk-west-0006.png</string>
			</array>
		</dict>
		<key>bug-walk-east</key>
		<dict>
			<key>delay</key>
			<real>0.06</real>
			<key>frames</key>
			<array>
				<string>bug-walk-east-0001.png</string>
				<string>bug-walk-east-0002.png</string>
				<string>bug-walk-east-0003.png</string>
				<string>bug-walk-east-0004.png</string>
				<string>bug-walk-east-0005.png</string>
				<string>bug-walk-east-0006.png</string>
			</array>
		</dict>
		<key>fireball-walk-west</key>
		<dict>
			<key>delay</key>
			<real>0.06</real>
			<key>frames</key>
			<array>
				<string>fireball-walk-west-0001.png</string>
				<string>fireball-walk-west-0002.png</string>
				<string>fireball-walk-west-0003.png</string>
				<string>fireball-walk-west-0004.png</string>
				<string>fireball-walk-west-0005.png</string>
				<string>fireball-walk-west-0006.png</string>
			</array>
		</dict>
		<key>fireball-walk-east</key>
		<dict>
			<key>delay</key>
			<real>0.06</real>
			<key>frames</key>
			<array>
				<string>fireball-walk-east-0001.png</string>
				<string>fireball-walk-east-0002.png</string>
				<string>fireball-walk-east-0003.png</string>
				<string>fireball-walk-east-0004.png</string>
				<string>fireball-walk-east-0005.png</string>
				<string>fireball-walk-east-0006.png</string>
			</array>
		</dict>
		<key>tank-walk-west</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>tank-stay-west.png</string>
				<string>tank-walk-west-0002.png</string>
				<string>tank-walk-west-0003.png</string>
			</array>
		</dict>
		<key>tank-walk-east</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>tank-stay-east.png</string>
				<string>tank-walk-east-0002.png</string>
				<string>tank-walk-east-0003.png</string>
			</array>
		</dict>
		<key>teeth-walk-west</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>teeth-walk-west-0001.png</string>
				<string>teeth-walk-west-0002.png</string>
				<string>teeth-walk-west-0003.png</string>
				<string>teeth-walk-west-0002.png</string>
			</array>
		</dict>
		<key>teeth-walk-east</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>teeth-walk-east-0001.png</string>
				<string>teeth-walk-east-0002.png</string>
				<string>teeth-walk-east-0003.png</string>
				<string>teeth-walk-east-0002.png</string>
			</array>
		</dict>
		<key>walker-walk-east</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>walker-stay.png</string>
				<string>walker-walk-0002.png</string>
				<string>walker-walk-0003.png</string>
			</array>
		</dict>
		<key>walker-walk-west</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>walker-walk-0003.png</string>
				<string>walker-walk-0002.png</string>
				<string>walker-stay.png</string>
			</array>
		</dict>
		<key>chip-stay-east</key>
		<dict>
			<key>delay</key>
			<real>0.24</real>
			<key>frames</key>
			<array>
				<string>chip-stay-east-0001.png</string>
				<string>chip-stay-east-0002.png</string>
				<string>chip-stay-east-0003.png</string>
				<string>chip-stay-east-0004.png</string>
				<string>chip-stay-east-0003.png</string>
				<string>chip-stay-east-0002.png</string>
			</array>
		</dict>
		<key>chip-walk-east</key>
		<dict>
			<key>delay</key>
			<real>0.08</real>
			<key>frames</key>
			<array>
				<string>chip-walk-east-0001.png</string>
				<string>chip-walk-east-0002.png</string>
				<string>chip-walk-east-0003.png</string>
				<string>chip-walk-east-0004.png</string>
				<string>chip-walk-east-0005.png</string>
				<string>chip-walk-east-0006.png</string>
			</array>
		</dict>
		<key>chip-stay-west</key>
		<dict>
			<key>delay</key>
			<real>0.24</real>
			<key>frames</key>
			<array>
				<string>chip-stay-west-0001.png</string>
				<string>chip-stay-west-0002.png</string>
				<string>chip-stay-west-0003.png</string>
				<string>chip-stay-west-0004.png</string>
				<string>chip-stay-west-0003.png</string>
				<string>chip-stay-west-0002.png</string>
			</array>
		</dict>
		<key>chip-walk-west</key>
		<dict>
			<key>delay</key>
			<real>0.08</real>
			<key>frames</key>
			<array>
				<string>chip-walk-west-0001.png</string>
				<string>chip-walk-west-0002.png</string>
				<string>chip-walk-west-0003.png</string>
				<string>chip-walk-west-0004.png</string>
				<string>chip-walk-west-0005.png</string>
				<string>chip-walk-west-0006.png</string>
			</array>
		</dict>
		<key>teleport</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>teleport-0001.png</string>
				<string>teleport-0002.png</string>
				<string>teleport-0003.png</string>
				<string>teleport-0004.png</string>
			</array>
		</dict>
		<key>water</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>water-0001.png</string>
				<string>water-0002.png</string>
				<string>water-0003.png</string>
				<string>water-0004.png</string>
				<string>water-0005.png</string>
				<string>water-0006.png</string>
				<string>water-0007.png</string>
				<string>water-0008.png</string>
				<string>water-0009.png</string>
			</array>
		</dict>
		<key>slide-north</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>slide-north-0001.png</string>
				<string>slide-north-0002.png</string>
				<string>slide-north-0003.png</string>
				<string>slide-north-0004.png</string>
			</array>
		</dict>
		<key>slide-south</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>slide-south-0001.png</string>
				<string>slide-south-0002.png</string>
				<string>slide-south-0003.png</string>
				<string>slide-south-0004.png</string>
			</array>
		</dict>
		<key>slide-east</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>slide-east-0001.png</string>
				<string>slide-east-0002.png</string>
				<string>slide-east-0003.png</string>
				<string>slide-east-0004.png</string>
			</array>
		</dict>
		<key>slide-west</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>slide-west-0001.png</string>
				<string>slide-west-0002.png</string>
				<string>slide-west-0003.png</string>
				<string>slide-west-0004.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
