<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>2.0.0</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>creatures.atlas.png</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>fireball-walk-north-0004.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{156,168}</string>
			<key>spriteOffset</key>
			<string>{-12,-5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0,11},{156,168}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0,0},{156,168}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>fireball-walk-north-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{155,167}</string>
			<key>spriteOffset</key>
			<string>{-12.5,-4.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0,11},{155,167}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0,169},{155,167}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>fireball-walk-north-0005.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{156,166}</string>
			<key>spriteOffset</key>
			<string>{-11,-6}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{1,13},{156,166}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0,337},{156,166}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>fireball-walk-east-0004.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{165,152}</string>
			<key>spriteOffset</key>
			<string>{-7.5,13}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0,1},{165,152}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157,0},{165,152}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>fireball-walk-north-0006.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{151,163}</string>
			<key>spriteOffset</key>
			<string>{-14.5,-0.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0,9},{151,163}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0,504},{151,163}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>fireball-walk-north-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{148,166}</string>
			<key>spriteOffset</key>
			<string>{-12,0}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{4,7},{148,166}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0,668},{148,166}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>fireball-walk-east-0005.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{156,155}</string>
			<key>spriteOffset</key>
			<string>{-12,12.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0,0},{156,155}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0,835},{156,155}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>fireball-walk-north-0001.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{141,166}</string>
			<key>spriteOffset</key>
			<string>{-8.5,-1}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{11,8},{141,166}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157,153},{141,166}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>fireball-walk-east-0001.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{157,147}</string>
			<key>spriteOffset</key>
			<string>{-11.5,10.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0,6},{157,147}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{323,0},{157,147}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>fireball-walk-east-0006.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{157,146}</string>
			<key>spriteOffset</key>
			<string>{-11.5,11}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0,6},{157,146}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481,0},{157,146}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>fireball-walk-east-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{161,142}</string>
			<key>spriteOffset</key>
			<string>{-8.5,10}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{1,9},{161,142}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{639,0},{161,142}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>fireball-walk-east-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{157,143}</string>
			<key>spriteOffset</key>
			<string>{-11.5,18.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0,0},{157,143}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{801,0},{157,143}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>tank-walk-east-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{138,120}</string>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{21,40},{138,120}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157,320},{138,120}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>tank-walk-east-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{138,119}</string>
			<key>spriteOffset</key>
			<string>{0,-9.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{21,40},{138,119}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157,441},{138,119}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>tank-stay-east.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{138,119}</string>
			<key>spriteOffset</key>
			<string>{0,-10.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{21,41},{138,119}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157,561},{138,119}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>walker-walk-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{118,102}</string>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{38,45},{118,102}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157,681},{118,102}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>walker-stay.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{118,102}</string>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{38,45},{118,102}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157,784},{118,102}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>walker-walk-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{118,102}</string>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{38,45},{118,102}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157,887},{118,102}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>ball-stay.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{103,102}</string>
			<key>spriteOffset</key>
			<string>{0.5,-6}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{39,45},{103,102}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299,153},{103,102}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>ball-walk-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{103,102}</string>
			<key>spriteOffset</key>
			<string>{0.5,-6}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{39,45},{103,102}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{403,153},{103,102}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>ball-walk-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{103,102}</string>
			<key>spriteOffset</key>
			<string>{0.5,-6}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{39,45},{103,102}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{507,153},{103,102}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>teeth-walk-north-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{89,111}</string>
			<key>spriteOffset</key>
			<string>{-11.5,11.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{34,23},{89,111}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299,256},{89,111}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>teeth-walk-east-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{91,101}</string>
			<key>spriteOffset</key>
			<string>{8.5,6.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{53,33},{91,101}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{611,153},{91,101}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>teeth-walk-east-0001.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{81,110}</string>
			<key>spriteOffset</key>
			<string>{9.5,-4}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{59,39},{81,110}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{389,256},{81,110}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>teeth-walk-east-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{83,107}</string>
			<key>spriteOffset</key>
			<string>{11.5,1.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{60,35},{83,107}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{471,256},{83,107}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-walk-east-0001.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{100,89}</string>
			<key>spriteOffset</key>
			<string>{13,-27.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{53,73},{100,89}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{703,153},{100,89}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-walk-east-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{113,72}</string>
			<key>spriteOffset</key>
			<string>{16.5,-25}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{50,79},{113,72}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{804,153},{113,72}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-walk-north-0001.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{102,83}</string>
			<key>spriteOffset</key>
			<string>{7,-11.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{46,60},{102,83}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{918,153},{102,83}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>chip-walk-north-0004.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{88,96}</string>
			<key>spriteOffset</key>
			<string>{12,10}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{58,32},{88,96}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{555,256},{88,96}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-walk-east-0004.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{109,74}</string>
			<key>spriteOffset</key>
			<string>{15.5,-26}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{51,79},{109,74}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644,256},{109,74}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-walk-north-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{115,67}</string>
			<key>spriteOffset</key>
			<string>{3.5,-12.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{36,69},{115,67}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{754,256},{115,67}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>teeth-walk-north-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{79,102}</string>
			<key>spriteOffset</key>
			<string>{-7.5,1}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{43,38},{79,102}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870,256},{79,102}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>chip-walk-north-0005.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{76,105}</string>
			<key>spriteOffset</key>
			<string>{21,8.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{73,29},{76,105}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299,368},{76,105}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-walk-north-0004.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{111,70}</string>
			<key>spriteOffset</key>
			<string>{4.5,-11}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{39,66},{111,70}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376,368},{111,70}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-walk-east-0006.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{98,82}</string>
			<key>spriteOffset</key>
			<string>{11,-26}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{52,75},{98,82}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376,439},{98,82}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-walk-east-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{102,76}</string>
			<key>spriteOffset</key>
			<string>{15,-27}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{54,79},{102,76}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475,439},{102,76}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>chip-walk-north-0006.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{70,107}</string>
			<key>spriteOffset</key>
			<string>{18,6.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{73,30},{70,107}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950,256},{70,107}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-walk-north-0006.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{101,76}</string>
			<key>spriteOffset</key>
			<string>{8.5,-10}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{48,62},{101,76}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578,439},{101,76}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-stay-east.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{100,76}</string>
			<key>spriteOffset</key>
			<string>{14,-27}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{54,79},{100,76}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680,439},{100,76}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>paramecium-walk-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{98,78}</string>
			<key>spriteOffset</key>
			<string>{-1,-25}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{40,76},{98,78}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376,522},{98,78}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>paramecium-stay.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{97,78}</string>
			<key>spriteOffset</key>
			<string>{1.5,-26}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{43,77},{97,78}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376,601},{97,78}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>paramecium-walk-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{97,78}</string>
			<key>spriteOffset</key>
			<string>{0.5,-25}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{42,76},{97,78}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376,680},{97,78}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>chip-walk-north-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{81,93}</string>
			<key>spriteOffset</key>
			<string>{18.5,14.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{68,29},{81,93}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376,759},{81,93}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>chip-walk-north-0001.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{64,109}</string>
			<key>spriteOffset</key>
			<string>{17,5.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{75,30},{64,109}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{959,0},{64,109}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-walk-north-0005.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{101,71}</string>
			<key>spriteOffset</key>
			<string>{4.5,-10.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{44,65},{101,71}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{781,439},{101,71}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>teeth-walk-north-0001.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{73,98}</string>
			<key>spriteOffset</key>
			<string>{-3.5,-8}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{50,49},{73,98}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299,474},{73,98}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-walk-north-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{104,66}</string>
			<key>spriteOffset</key>
			<string>{5,-13}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{43,70},{104,66}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488,368},{104,66}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-walk-east-0005.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{99,71}</string>
			<key>spriteOffset</key>
			<string>{15.5,-23.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{56,78},{99,71}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{883,439},{99,71}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>blob-walk-0001.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{97,72}</string>
			<key>spriteOffset</key>
			<string>{0.5,-15}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{42,69},{97,72}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376,853},{97,72}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>chip-walk-north-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{68,101}</string>
			<key>spriteOffset</key>
			<string>{19,9.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{75,30},{68,101}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299,573},{68,101}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>chip-stay-north-0001.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{63,105}</string>
			<key>spriteOffset</key>
			<string>{19.5,9.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{78,28},{63,105}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299,675},{63,105}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>chip-stay-north-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{62,105}</string>
			<key>spriteOffset</key>
			<string>{19,9.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{78,28},{62,105}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299,781},{62,105}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>blob-walk-0002.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{91,75}</string>
			<key>spriteOffset</key>
			<string>{-0.5,-12.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{44,65},{91,75}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376,926},{91,75}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>chip-stay-north-0004.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{62,104}</string>
			<key>spriteOffset</key>
			<string>{19,9}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{78,29},{62,104}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299,887},{62,104}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>chip-stay-north-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{62,104}</string>
			<key>spriteOffset</key>
			<string>{19,9}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{78,29},{62,104}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475,516},{62,104}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bug-stay-north.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{102,64}</string>
			<key>spriteOffset</key>
			<string>{6,-14}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{45,72},{102,64}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{593,368},{102,64}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>blob-walk-0003.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{85,75}</string>
			<key>spriteOffset</key>
			<string>{-0.5,-8.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{47,61},{85,75}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538,516},{85,75}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>blob-walk-0004.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{82,77}</string>
			<key>spriteOffset</key>
			<string>{1,-6.5}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>spriteSourceColorRect</key>
			<string>{{50,58},{82,77}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538,592},{82,77}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
