<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>metadata</key>
    <dict>
      <key>version</key>
      <string>2.0.0</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>format</key>
      <integer>3</integer>
      <key>name</key>
      <string>creatures.png</string>
    </dict>
    <key>frames</key>
    <dict>
      <key>fireball-walk-east-4.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{165,154}</string>
        <key>spriteOffset</key>
        <string>{7.5,-12}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{15,25},{165,154}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,0},{165,154}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>fireball-walk-west-4.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{165,152}</string>
        <key>spriteOffset</key>
        <string>{-7.5,13}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,1},{165,152}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{166,0},{165,152}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>fireball-walk-east-5.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{156,157}</string>
        <key>spriteOffset</key>
        <string>{12,-11.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{24,23},{156,157}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,155},{156,157}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>fireball-walk-west-5.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{156,155}</string>
        <key>spriteOffset</key>
        <string>{-12,12.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{156,155}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,313},{156,155}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>fireball-walk-east-3.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{158,153}</string>
        <key>spriteOffset</key>
        <string>{9,-13.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{20,27},{158,153}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{332,0},{158,153}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>fireball-walk-east-6.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{161,144}</string>
        <key>spriteOffset</key>
        <string>{9.5,-9}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,27},{161,144}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{491,0},{161,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>fireball-walk-west-1.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{157,147}</string>
        <key>spriteOffset</key>
        <string>{-11.5,10.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,6},{157,147}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{653,0},{157,147}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>fireball-walk-west-3.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{161,142}</string>
        <key>spriteOffset</key>
        <string>{-8.5,10}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{1,9},{161,142}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{811,0},{161,142}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>fireball-walk-west-6.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{157,146}</string>
        <key>spriteOffset</key>
        <string>{-11.5,11}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,6},{157,146}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{157,155},{157,146}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>fireball-walk-east-1.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{157,146}</string>
        <key>spriteOffset</key>
        <string>{11.5,-8}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{23,25},{157,146}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{315,155},{157,146}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>fireball-walk-east-2.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{156,146}</string>
        <key>spriteOffset</key>
        <string>{12,-17}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{24,34},{156,146}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,469},{156,146}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>fireball-walk-west-2.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{157,143}</string>
        <key>spriteOffset</key>
        <string>{-11.5,18.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{157,143}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{473,155},{157,143}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>tank-stay-west.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{138,126}</string>
        <key>spriteOffset</key>
        <string>{0,-7}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{21,34},{138,126}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,616},{138,126}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>tank-walk-east-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{138,126}</string>
        <key>spriteOffset</key>
        <string>{0,-7}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{21,34},{138,126}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,743},{138,126}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>tank-walk-east-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{138,125}</string>
        <key>spriteOffset</key>
        <string>{0,-6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{21,34},{138,125}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,870},{138,125}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>tank-stay-east.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{138,119}</string>
        <key>spriteOffset</key>
        <string>{0,-10.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{21,41},{138,119}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{631,155},{138,119}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>walker-walk-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{118,102}</string>
        <key>spriteOffset</key>
        <string>{7,-6}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{38,45},{118,102}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{770,155},{118,102}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>walker-stay.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{118,102}</string>
        <key>spriteOffset</key>
        <string>{7,-6}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{38,45},{118,102}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{889,155},{118,102}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>walker-walk-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{118,102}</string>
        <key>spriteOffset</key>
        <string>{7,-6}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{38,45},{118,102}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{157,302},{118,102}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ball-stay.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{103,102}</string>
        <key>spriteOffset</key>
        <string>{0.5,-6}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{39,45},{103,102}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{157,405},{103,102}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ball-walk-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{103,102}</string>
        <key>spriteOffset</key>
        <string>{0.5,-6}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{39,45},{103,102}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{157,508},{103,102}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ball-walk-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{103,102}</string>
        <key>spriteOffset</key>
        <string>{0.5,-6}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{39,45},{103,102}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{157,611},{103,102}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teeth-walk-north-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{89,111}</string>
        <key>spriteOffset</key>
        <string>{11.5,11.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{57,23},{89,111}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{157,714},{89,111}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teeth-walk-east-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{91,101}</string>
        <key>spriteOffset</key>
        <string>{8.5,6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{53,33},{91,101}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{157,826},{91,101}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teeth-walk-east-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{81,110}</string>
        <key>spriteOffset</key>
        <string>{9.5,-4}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{59,39},{81,110}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{276,302},{81,110}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teeth-walk-east-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{83,107}</string>
        <key>spriteOffset</key>
        <string>{11.5,1.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{60,35},{83,107}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{358,302},{83,107}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-walk-east-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{100,89}</string>
        <key>spriteOffset</key>
        <string>{13,-27.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{53,73},{100,89}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{157,928},{100,89}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-walk-west-0006.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{102,83}</string>
        <key>spriteOffset</key>
        <string>{-7,-11.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{32,60},{102,83}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{442,302},{102,83}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-walk-east-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{113,72}</string>
        <key>spriteOffset</key>
        <string>{16.5,-25}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{50,79},{113,72}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{545,302},{113,72}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-walk-east-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{109,74}</string>
        <key>spriteOffset</key>
        <string>{15.5,-26}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{51,79},{109,74}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{659,302},{109,74}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>chip-walk-west-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{87,96}</string>
        <key>spriteOffset</key>
        <string>{-12.5,10}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{34,32},{87,96}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{769,302},{87,96}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-walk-west-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{115,67}</string>
        <key>spriteOffset</key>
        <string>{-3.5,-12.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{29,69},{115,67}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{857,302},{115,67}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>chip-walk-west-0005.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{77,105}</string>
        <key>spriteOffset</key>
        <string>{-21.5,8.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{30,29},{77,105}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{276,413},{77,105}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teeth-walk-north-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{79,102}</string>
        <key>spriteOffset</key>
        <string>{7.5,1}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{58,38},{79,102}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{276,519},{79,102}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-walk-west-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{111,70}</string>
        <key>spriteOffset</key>
        <string>{-4.5,-11}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{30,66},{111,70}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{358,410},{111,70}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-walk-east-0006.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{98,82}</string>
        <key>spriteOffset</key>
        <string>{11,-26}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{52,75},{98,82}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{358,481},{98,82}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>chip-walk-west-0006.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{71,107}</string>
        <key>spriteOffset</key>
        <string>{-18.5,6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{36,30},{71,107}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{276,622},{71,107}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-walk-east-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{102,76}</string>
        <key>spriteOffset</key>
        <string>{15,-27}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{54,79},{102,76}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{358,564},{102,76}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-walk-west-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{101,76}</string>
        <key>spriteOffset</key>
        <string>{-8.5,-10}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{31,62},{101,76}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{358,641},{101,76}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-stay-east.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{100,76}</string>
        <key>spriteOffset</key>
        <string>{14,-27}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{54,79},{100,76}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{358,718},{100,76}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>paramecium-walk-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{98,78}</string>
        <key>spriteOffset</key>
        <string>{-1,-25}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{40,76},{98,78}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{358,795},{98,78}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>paramecium-stay.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{97,78}</string>
        <key>spriteOffset</key>
        <string>{1.5,-26}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{43,77},{97,78}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{358,874},{97,78}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>paramecium-walk-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{97,78}</string>
        <key>spriteOffset</key>
        <string>{0.5,-25}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{42,76},{97,78}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{470,410},{97,78}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>chip-walk-west-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{82,93}</string>
        <key>spriteOffset</key>
        <string>{-19,14.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{30,29},{82,93}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{470,489},{82,93}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>chip-walk-west-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{64,109}</string>
        <key>spriteOffset</key>
        <string>{-17,5.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{41,30},{64,109}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{276,730},{64,109}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-walk-west-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{101,71}</string>
        <key>spriteOffset</key>
        <string>{-4.5,-10.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{35,65},{101,71}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{568,410},{101,71}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teeth-walk-north-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{73,98}</string>
        <key>spriteOffset</key>
        <string>{6.5,-8}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{60,49},{73,98}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{276,840},{73,98}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-walk-east-0005.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{99,71}</string>
        <key>spriteOffset</key>
        <string>{15.5,-23.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{56,78},{99,71}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{670,410},{99,71}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>chip-walk-west-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{68,101}</string>
        <key>spriteOffset</key>
        <string>{-20,9.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{36,30},{68,101}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{470,583},{68,101}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>blob-walk-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{97,72}</string>
        <key>spriteOffset</key>
        <string>{0.5,-15}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{42,69},{97,72}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{770,410},{97,72}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-walk-west-0005.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{103,66}</string>
        <key>spriteOffset</key>
        <string>{-5.5,-13}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{33,70},{103,66}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{358,953},{103,66}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>chip-stay-west-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{63,105}</string>
        <key>spriteOffset</key>
        <string>{-19.5,9.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{39,28},{63,105}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{470,685},{63,105}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>chip-stay-west-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{62,105}</string>
        <key>spriteOffset</key>
        <string>{-19,9.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{40,28},{62,105}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{470,791},{62,105}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>chip-stay-west-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{62,104}</string>
        <key>spriteOffset</key>
        <string>{-19,9}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{40,29},{62,104}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{470,897},{62,104}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>blob-walk-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{91,75}</string>
        <key>spriteOffset</key>
        <string>{-0.5,-12.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{44,65},{91,75}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{868,410},{91,75}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bug-stay-west.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{102,64}</string>
        <key>spriteOffset</key>
        <string>{-6,-14}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{33,72},{102,64}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{553,489},{102,64}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>chip-stay-west-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{62,104}</string>
        <key>spriteOffset</key>
        <string>{-19,9}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{40,29},{62,104}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{553,554},{62,104}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>blob-walk-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{85,75}</string>
        <key>spriteOffset</key>
        <string>{-0.5,-8.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{47,61},{85,75}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{616,554},{85,75}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>blob-walk-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{82,77}</string>
        <key>spriteOffset</key>
        <string>{1,-6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{50,58},{82,77}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{616,630},{82,77}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
    </dict>
  </dict>
</plist>