<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>metadata</key>
    <dict>
      <key>version</key>
      <string>2.0.0</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>format</key>
      <integer>3</integer>
      <key>name</key>
      <string>tiles-1.png</string>
    </dict>
    <key>frames</key>
    <dict>
      <key>floor.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>help.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,0},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>block-stay-east.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{142,174}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,200}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,13},{142,174}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,141},{142,174}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>gravel.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,134}</string>
        <key>spriteOffset</key>
        <string>{0,-3}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,6},{180,134}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{362,0},{180,134}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,134}</string>
        <key>spriteOffset</key>
        <string>{0,-3}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,6},{180,134}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{543,0},{180,134}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0009.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,130}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,130}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,130}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{724,0},{180,130}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0008.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,130}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,130}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,130}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{143,141},{180,130}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0007.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,130}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,130}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,130}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{324,141},{180,130}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0006.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,130}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,130}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,130}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{505,141},{180,130}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0005.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,130}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,130}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,130}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{686,141},{180,130}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,130}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,130}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,130}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{143,272},{180,130}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,130}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,130}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,130}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{143,403},{180,130}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,130}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,130}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,130}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{143,534},{180,130}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,130}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,130}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,130}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{143,665},{180,130}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>explosion-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{150,150}</string>
        <key>spriteOffset</key>
        <string>{-3,12}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{12,3},{150,150}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{143,796},{150,150}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>block-drawn-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{142,158}</string>
        <key>spriteOffset</key>
        <string>{0,-8}</string>
        <key>spriteSourceSize</key>
        <string>{180,200}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,29},{142,158}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,316},{142,158}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>block-drawn-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{142,143}</string>
        <key>spriteOffset</key>
        <string>{0,-15.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,200}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,44},{142,143}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,475},{142,143}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>explosion-0006.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{142,140}</string>
        <key>spriteOffset</key>
        <string>{3,17}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{22,3},{142,140}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,619},{142,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-north-west.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{150,130}</string>
        <key>spriteOffset</key>
        <string>{-1,33}</string>
        <key>spriteSourceSize</key>
        <string>{180,210}</string>
        <key>spriteSourceColorRect</key>
        <string>{{14,7},{150,130}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{867,141},{150,130}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>explosion-0008.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{142,138}</string>
        <key>spriteOffset</key>
        <string>{0,17}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,4},{142,138}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,760},{142,138}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>explosion-0007.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{142,138}</string>
        <key>spriteOffset</key>
        <string>{0,17}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,4},{142,138}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{324,272},{142,138}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-south-east.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{158,120}</string>
        <key>spriteOffset</key>
        <string>{1,-35}</string>
        <key>spriteSourceSize</key>
        <string>{180,210}</string>
        <key>spriteSourceColorRect</key>
        <string>{{12,80},{158,120}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{467,272},{158,120}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>explosion-0005.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{140,137}</string>
        <key>spriteOffset</key>
        <string>{0,14.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{20,7},{140,137}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{626,272},{140,137}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>block-drawn-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{142,127}</string>
        <key>spriteOffset</key>
        <string>{0,-23.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,200}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,60},{142,127}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{767,272},{142,127}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>explosion-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{131,124}</string>
        <key>spriteOffset</key>
        <string>{-0.5,13}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{24,15},{131,124}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,899},{131,124}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>block-drawn-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{142,111}</string>
        <key>spriteOffset</key>
        <string>{0,-31.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,200}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,76},{142,111}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{324,411},{142,111}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-east.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{73,137}</string>
        <key>spriteOffset</key>
        <string>{49.5,-21.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,210}</string>
        <key>spriteSourceColorRect</key>
        <string>{{103,58},{73,137}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,0},{73,137}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-south.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{73,136}</string>
        <key>spriteOffset</key>
        <string>{-49.5,-21}</string>
        <key>spriteSourceSize</key>
        <string>{180,210}</string>
        <key>spriteSourceColorRect</key>
        <string>{{4,58},{73,136}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{910,272},{73,136}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>splash-0008.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{120,85}</string>
        <key>spriteOffset</key>
        <string>{0,-1.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{30,29},{120,85}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{324,523},{120,85}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>splash-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{111,87}</string>
        <key>spriteOffset</key>
        <string>{-2.5,14.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{32,12},{111,87}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{324,609},{111,87}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>splash-0007.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{116,80}</string>
        <key>spriteOffset</key>
        <string>{-2,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{30,30},{116,80}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{324,697},{116,80}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>splash-0006.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{116,76}</string>
        <key>spriteOffset</key>
        <string>{-3,-1}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{29,33},{116,76}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{143,947},{116,76}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>splash-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{106,82}</string>
        <key>spriteOffset</key>
        <string>{1,16}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{38,13},{106,82}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{324,778},{106,82}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>splash-0005.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{111,75}</string>
        <key>spriteOffset</key>
        <string>{-4.5,7.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{30,25},{111,75}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{324,861},{111,75}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>splash-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{101,82}</string>
        <key>spriteOffset</key>
        <string>{-2.5,12}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{37,17},{101,82}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{324,937},{101,82}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>explosion-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{90,90}</string>
        <key>spriteOffset</key>
        <string>{-3,12}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{42,33},{90,90}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{467,411},{90,90}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-west.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{70,101}</string>
        <key>spriteOffset</key>
        <string>{-41,32.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,210}</string>
        <key>spriteSourceColorRect</key>
        <string>{{14,22},{70,101}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{467,502},{70,101}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>highlight.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{96,68}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{42,30},{96,68}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{558,411},{96,68}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-north.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{71,85}</string>
        <key>spriteOffset</key>
        <string>{41.5,40.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,210}</string>
        <key>spriteSourceColorRect</key>
        <string>{{96,22},{71,85}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{655,411},{71,85}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>splash-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{84,65}</string>
        <key>spriteOffset</key>
        <string>{3,10.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{51,27},{84,65}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{727,411},{84,65}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>boots-ice.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{63,78}</string>
        <key>spriteOffset</key>
        <string>{4.5,1}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{63,24},{63,78}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{812,411},{63,78}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>boots-water.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{66,68}</string>
        <key>spriteOffset</key>
        <string>{-5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{52,26},{66,68}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{876,411},{66,68}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>bomb.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{67,55}</string>
        <key>spriteOffset</key>
        <string>{-5.5,6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{51,30},{67,55}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{943,411},{67,55}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>explosion-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{55,55}</string>
        <key>spriteOffset</key>
        <string>{-3.5,12.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,180}</string>
        <key>spriteSourceColorRect</key>
        <string>{{59,50},{55,55}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{260,947},{55,55}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ic-chip.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{62,46}</string>
        <key>spriteOffset</key>
        <string>{1,3}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{60,38},{62,46}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{467,604},{62,46}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>key-yellow.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{57,40}</string>
        <key>spriteOffset</key>
        <string>{-0.5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{61,40},{57,40}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{467,651},{57,40}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>key-green.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{57,40}</string>
        <key>spriteOffset</key>
        <string>{-0.5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{61,40},{57,40}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{467,692},{57,40}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>key-red.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{57,40}</string>
        <key>spriteOffset</key>
        <string>{-0.5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{61,40},{57,40}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{467,733},{57,40}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>key-blue.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{57,40}</string>
        <key>spriteOffset</key>
        <string>{-0.5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{61,40},{57,40}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{467,774},{57,40}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>boots-fire.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{42,52}</string>
        <key>spriteOffset</key>
        <string>{-2,6}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{67,32},{42,52}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{979,0},{42,52}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>boots-slide.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{42,52}</string>
        <key>spriteOffset</key>
        <string>{-1,6}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{68,32},{42,52}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{979,53},{42,52}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
    </dict>
  </dict>
</plist>