<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>metadata</key>
    <dict>
      <key>version</key>
      <string>2.0.0</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>format</key>
      <integer>3</integer>
      <key>name</key>
      <string>tiles-1.png</string>
    </dict>
    <key>frames</key>
    <dict>
      <key>floor.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-green-ew.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,0},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-green-ns.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{362,0},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-red-ew.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{543,0},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-yellow-ns.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{724,0},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-blue-ew.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,141},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-red-ns.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,282},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-yellow-ew.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,423},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,564},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-blue-ns.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,705},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>hole.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,846},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>gravel.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,134}</string>
        <key>spriteOffset</key>
        <string>{0,-3}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,6},{180,134}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{181,141},{180,134}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{362,141},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{543,141},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{724,141},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,276},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0009.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,405},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0006.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,534},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0007.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,663},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0008.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,792},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0005.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{362,276},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-red-ew-front.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{155,123}</string>
        <key>spriteOffset</key>
        <string>{-12.5,-8.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,17},{155,123}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{543,276},{155,123}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-blue-ew-front.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{155,123}</string>
        <key>spriteOffset</key>
        <string>{-12.5,-8.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,17},{155,123}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{699,276},{155,123}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-yellow-ew-front.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{155,123}</string>
        <key>spriteOffset</key>
        <string>{-12.5,-8.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,17},{155,123}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{855,276},{155,123}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-green-ew-front.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{155,123}</string>
        <key>spriteOffset</key>
        <string>{-12.5,-8.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,17},{155,123}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{362,405},{155,123}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>hole-front.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,98}</string>
        <key>spriteOffset</key>
        <string>{0,-21}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,42},{180,98}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{181,921},{180,98}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-yellow-ns-front.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{155,122}</string>
        <key>spriteOffset</key>
        <string>{12.5,-9}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{25,18},{155,122}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{362,529},{155,122}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-green-ns-front.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{155,122}</string>
        <key>spriteOffset</key>
        <string>{12.5,-9}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{25,18},{155,122}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{362,652},{155,122}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-blue-ns-front.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{155,122}</string>
        <key>spriteOffset</key>
        <string>{12.5,-9}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{25,18},{155,122}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{362,775},{155,122}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-red-ns-front.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{155,122}</string>
        <key>spriteOffset</key>
        <string>{12.5,-9}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{25,18},{155,122}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{362,898},{155,122}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>hole-back.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,77}</string>
        <key>spriteOffset</key>
        <string>{0,31.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,77}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{518,405},{180,77}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-north-west.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{165,76}</string>
        <key>spriteOffset</key>
        <string>{0.5,20}</string>
        <key>spriteSourceSize</key>
        <string>{180,158}</string>
        <key>spriteSourceColorRect</key>
        <string>{{8,21},{165,76}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{699,405},{165,76}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-blue-ns-back.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{133,96}</string>
        <key>spriteOffset</key>
        <string>{-23.5,22}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{133,96}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{518,483},{133,96}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-yellow-ns-back.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{133,96}</string>
        <key>spriteOffset</key>
        <string>{-23.5,22}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{133,96}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{652,483},{133,96}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-red-ns-back.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{133,96}</string>
        <key>spriteOffset</key>
        <string>{-23.5,22}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{133,96}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{786,483},{133,96}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-green-ns-back.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{133,96}</string>
        <key>spriteOffset</key>
        <string>{-23.5,22}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{133,96}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{518,580},{133,96}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-south-east.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{165,57}</string>
        <key>spriteOffset</key>
        <string>{-0.5,-37.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,158}</string>
        <key>spriteSourceColorRect</key>
        <string>{{7,88},{165,57}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{652,580},{165,57}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-yellow-ew-back.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{118,96}</string>
        <key>spriteOffset</key>
        <string>{31,22}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{62,0},{118,96}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,0},{118,96}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-red-ew-back.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{118,96}</string>
        <key>spriteOffset</key>
        <string>{31,22}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{62,0},{118,96}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,141},{118,96}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-blue-ew-back.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{118,96}</string>
        <key>spriteOffset</key>
        <string>{31,22}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{62,0},{118,96}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{518,677},{118,96}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor-green-ew-back.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{118,96}</string>
        <key>spriteOffset</key>
        <string>{31,22}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{62,0},{118,96}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{518,774},{118,96}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teleport-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{102,83}</string>
        <key>spriteOffset</key>
        <string>{0,-6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{39,29},{102,83}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{920,483},{102,83}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teleport-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{101,83}</string>
        <key>spriteOffset</key>
        <string>{-0.5,-6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{39,29},{101,83}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{518,871},{101,83}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teleport-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{101,83}</string>
        <key>spriteOffset</key>
        <string>{-0.5,-6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{39,29},{101,83}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{652,638},{101,83}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teleport-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{101,83}</string>
        <key>spriteOffset</key>
        <string>{-0.5,-6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{39,29},{101,83}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{754,638},{101,83}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-east.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{74,102}</string>
        <key>spriteOffset</key>
        <string>{34,-23}</string>
        <key>spriteSourceSize</key>
        <string>{180,158}</string>
        <key>spriteSourceColorRect</key>
        <string>{{87,51},{74,102}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{652,722},{74,102}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>highlight.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{96,68}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{42,30},{96,68}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{865,405},{96,68}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-south.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{74,82}</string>
        <key>spriteOffset</key>
        <string>{-34,-33}</string>
        <key>spriteSourceSize</key>
        <string>{180,158}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,71},{74,82}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{856,638},{74,82}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>boots-water.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{66,68}</string>
        <key>spriteOffset</key>
        <string>{-5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{52,26},{66,68}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{518,955},{66,68}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-north.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{75,59}</string>
        <key>spriteOffset</key>
        <string>{33.5,17.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,158}</string>
        <key>spriteSourceColorRect</key>
        <string>{{86,32},{75,59}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{931,638},{75,59}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-west.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{75,58}</string>
        <key>spriteOffset</key>
        <string>{-33.5,18}</string>
        <key>spriteSourceSize</key>
        <string>{180,158}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,32},{75,58}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{727,722},{75,58}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ic-chip.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{62,46}</string>
        <key>spriteOffset</key>
        <string>{1,3}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{60,38},{62,46}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{585,955},{62,46}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>key-blue.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{57,40}</string>
        <key>spriteOffset</key>
        <string>{-0.5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{61,40},{57,40}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,97},{57,40}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>key-red.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{57,40}</string>
        <key>spriteOffset</key>
        <string>{-0.5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{61,40},{57,40}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{963,97},{57,40}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>key-green.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{57,40}</string>
        <key>spriteOffset</key>
        <string>{-0.5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{61,40},{57,40}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{962,405},{57,40}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>key-yellow.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{57,40}</string>
        <key>spriteOffset</key>
        <string>{-0.5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{61,40},{57,40}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{818,580},{57,40}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>boots-fire.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{42,52}</string>
        <key>spriteOffset</key>
        <string>{-2,6}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{67,32},{42,52}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{876,580},{42,52}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>boots-ice.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{42,52}</string>
        <key>spriteOffset</key>
        <string>{-1,6}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{68,32},{42,52}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{919,580},{42,52}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
    </dict>
  </dict>
</plist>