<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>metadata</key>
    <dict>
      <key>version</key>
      <string>2.0.0</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>format</key>
      <integer>3</integer>
      <key>name</key>
      <string>tiles-1.png</string>
    </dict>
    <key>frames</key>
    <dict>
      <key>slide-east-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-east-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,0},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-east-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{362,0},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-east-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{543,0},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-west-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{724,0},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-west-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,145},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-west-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,290},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-west-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,435},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-south-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,580},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-south-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,725},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-south-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,870},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-south-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,145},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-north-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{362,145},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-north-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{543,145},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-north-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{724,145},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>slide-north-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,144}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,144}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,290},{180,144}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>floor.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,435},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>hole.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,140}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,576},{180,140}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>block-stay-east.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{142,174}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,200}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,13},{142,174}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{181,717},{142,174}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,134}</string>
        <key>spriteOffset</key>
        <string>{0,-3}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,6},{180,134}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{362,290},{180,134}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>gravel.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,134}</string>
        <key>spriteOffset</key>
        <string>{0,-3}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,6},{180,134}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{543,290},{180,134}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0009.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{181,892},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0008.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{724,290},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0006.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{362,425},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0005.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{362,554},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{362,683},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{362,812},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{543,425},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0007.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{724,425},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>water-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,128}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{543,554},{180,128}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>hole-front.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,98}</string>
        <key>spriteOffset</key>
        <string>{0,-21}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,42},{180,98}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{724,554},{180,98}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>hole-back.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{180,77}</string>
        <key>spriteOffset</key>
        <string>{0,31.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,140}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{180,77}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{362,941},{180,77}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-north-west.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{165,76}</string>
        <key>spriteOffset</key>
        <string>{0.5,20}</string>
        <key>spriteSourceSize</key>
        <string>{180,158}</string>
        <key>spriteSourceColorRect</key>
        <string>{{8,21},{165,76}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{543,683},{165,76}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-south-east.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{173,49}</string>
        <key>spriteOffset</key>
        <string>{0.5,-33.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,158}</string>
        <key>spriteSourceColorRect</key>
        <string>{{4,88},{173,49}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{709,683},{173,49}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teleport-0001.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{102,83}</string>
        <key>spriteOffset</key>
        <string>{0,-6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{39,29},{102,83}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,0},{102,83}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teleport-0003.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{101,83}</string>
        <key>spriteOffset</key>
        <string>{-0.5,-6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{39,29},{101,83}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,145},{101,83}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teleport-0002.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{101,83}</string>
        <key>spriteOffset</key>
        <string>{-0.5,-6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{39,29},{101,83}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,290},{101,83}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>teleport-0004.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{101,83}</string>
        <key>spriteOffset</key>
        <string>{-0.5,-6.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{39,29},{101,83}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,425},{101,83}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>highlight.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{96,68}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{42,30},{96,68}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,554},{96,68}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-east.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{75,82}</string>
        <key>spriteOffset</key>
        <string>{33.5,-32}</string>
        <key>spriteSourceSize</key>
        <string>{180,158}</string>
        <key>spriteSourceColorRect</key>
        <string>{{86,70},{75,82}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{543,760},{75,82}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-south.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{75,81}</string>
        <key>spriteOffset</key>
        <string>{-33.5,-31.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,158}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,70},{75,81}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{619,760},{75,81}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>boots-ice.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{63,78}</string>
        <key>spriteOffset</key>
        <string>{4.5,1}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{63,24},{63,78}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{543,843},{63,78}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-west.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{75,59}</string>
        <key>spriteOffset</key>
        <string>{-33.5,17.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,158}</string>
        <key>spriteSourceColorRect</key>
        <string>{{19,32},{75,59}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,84},{75,59}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>boots-water.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{66,68}</string>
        <key>spriteOffset</key>
        <string>{-5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{52,26},{66,68}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{607,843},{66,68}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ice-wall-north.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{74,59}</string>
        <key>spriteOffset</key>
        <string>{34,17.5}</string>
        <key>spriteSourceSize</key>
        <string>{180,158}</string>
        <key>spriteSourceColorRect</key>
        <string>{{87,32},{74,59}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,229},{74,59}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ic-chip.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{62,46}</string>
        <key>spriteOffset</key>
        <string>{1,3}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{60,38},{62,46}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,374},{62,46}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>key-blue.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{57,40}</string>
        <key>spriteOffset</key>
        <string>{-0.5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{61,40},{57,40}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,509},{57,40}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>key-red.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{57,40}</string>
        <key>spriteOffset</key>
        <string>{-0.5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{61,40},{57,40}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{963,509},{57,40}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>key-green.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{57,40}</string>
        <key>spriteOffset</key>
        <string>{-0.5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{61,40},{57,40}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{905,623},{57,40}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>key-yellow.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{57,40}</string>
        <key>spriteOffset</key>
        <string>{-0.5,4}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{61,40},{57,40}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{963,623},{57,40}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>boots-fire.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{42,52}</string>
        <key>spriteOffset</key>
        <string>{-2,6}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{67,32},{42,52}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{981,84},{42,52}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>boots-slide.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{42,52}</string>
        <key>spriteOffset</key>
        <string>{-1,6}</string>
        <key>spriteSourceSize</key>
        <string>{180,128}</string>
        <key>spriteSourceColorRect</key>
        <string>{{68,32},{42,52}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{980,229},{42,52}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
    </dict>
  </dict>
</plist>