<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>metadata</key>
    <dict>
      <key>version</key>
      <string>2.0.0</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>format</key>
      <integer>3</integer>
      <key>name</key>
      <string>ui.png</string>
    </dict>
    <key>frames</key>
    <dict>
      <key>ui-button-default.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{200,47}</string>
        <key>spriteOffset</key>
        <string>{0,-0.5}</string>
        <key>spriteSourceSize</key>
        <string>{200,48}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,1},{200,47}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{0,0},{200,47}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ui-button-control.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{93,93}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{93,93}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,48},{93,93}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ui-button-control-on.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{93,93}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{93,93}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,142},{93,93}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ui-panel-transparent.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{90,90}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSourceSize</key>
        <string>{90,90}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,0},{90,90}}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,236},{90,90}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ui-inventory-cell.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{50,47}</string>
        <key>spriteOffset</key>
        <string>{0,-0.5}</string>
        <key>spriteSourceSize</key>
        <string>{50,48}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,1},{50,47}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{201,0},{50,47}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ui-button-pause.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{46,47}</string>
        <key>spriteOffset</key>
        <string>{0,-0.5}</string>
        <key>spriteSourceSize</key>
        <string>{46,48}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,1},{46,47}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{252,0},{46,47}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ui-button-pause-on.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{46,47}</string>
        <key>spriteOffset</key>
        <string>{0,-0.5}</string>
        <key>spriteSourceSize</key>
        <string>{46,48}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,1},{46,47}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{299,0},{46,47}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ui-button-restart.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{46,47}</string>
        <key>spriteOffset</key>
        <string>{0,-0.5}</string>
        <key>spriteSourceSize</key>
        <string>{46,48}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,1},{46,47}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{346,0},{46,47}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
      <key>ui-button-restart-on.png</key>
      <dict>
        <key>spriteSize</key>
        <string>{46,47}</string>
        <key>spriteOffset</key>
        <string>{0,-0.5}</string>
        <key>spriteSourceSize</key>
        <string>{46,48}</string>
        <key>spriteSourceColorRect</key>
        <string>{{0,1},{46,47}}</string>
        <key>spriteTrimmed</key>
        <true />
        <key>textureRect</key>
        <string>{{393,0},{46,47}}</string>
        <key>textureRotated</key>
        <false />
        <key>aliases</key>
        <array />
      </dict>
    </dict>
  </dict>
</plist>